"*":
  core:
    disabledPackages: [
      "vim-mode"
      "vim-mode-visual-block"
      "ex-mode"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "monokai"
    ]
  "exception-reporting":
    userId: "e54726cb-6c4e-e830-026b-8bdbfac47eb1"
  "find-and-replace":
    scrollToResultOnLiveSearch: true
  "vim-mode-plus":
    automaticallyEscapeInsertModeOnActivePaneItemChange: true
    ignoreCaseForSearch: true
    ignoreCaseForSearchCurrentWord: true
    incrementalSearch: true
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
